{
  "*.(ts|tsx|js|jsx)": [
    "eslint --ignore-path .gitignore . --ext .js,.ts,.jsx,.tsx --fix",
    "prettier --write",
    "eclint fix"
  ],
  "*.(json|yml|md|mdx)": ["prettier --write", "eclint fix"],
  ".env*": ["eclint fix"],
  ".!(env)rc": ["prettier --write", "eclint fix"],
  ".*ignore": ["eclint fix"],
  ".editorconfig": ["eclint fix"],
  ".husky/**/*": ["eclint fix"]
}